@use "../util" as u;
@use "../util/functions" as f;

.details {
	display: flex;
	align-items: center;
	background-color: u.$verypaleblue;
	padding: f.rem(16);
	border-radius: 11px;

	&__text {
		margin-left: f.rem(20);
	}

	&__change {
		margin-left: auto;
		background-color: transparent;
		border: none;
	}

	@media (min-width: f.em(600)) {
		padding: f.rem(24);
	}
}
