$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$brightblue-hover: hsl(245, 83%, 68%);
$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);

$fw-normal: 500;
$fw-bold: 700;
$fw-xbold: 900;
